language: go
sudo: false

# A simple travis-ci GO example 

# The tip token requests build the code with the latest development 
# version of Go, this could give one warning that the code will break 
# with future versions of GO. 
go:
  - "1.8"
  - "1.9"
  - "1.10"
  - "tip"

matrix:
  # It's ok if the code fails on the unstable development versions of Go (noted above).
  allow_failures:
    - go: tip

before_install:
   - go get -v github.com/HyperplaneOrg/go-strftime
   - go get github.com/mattn/goveralls

script: 
   - $GOPATH/bin/goveralls -service=travis-ci

